@import "tailwindcss";

/* * {
  font-family: "Lexend Deca" !important;
} */

.MuiBox-root .css-zxdg2z {
  background-color: #f6f6f9;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Customize scrollbar */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

/* for chart  */
.recharts-wrapper svg:focus {
  outline: none;
}
.recharts-wrapper:focus,
.recharts-wrapper *:focus,
.recharts-surface:focus,
.recharts-surface *:focus {
  outline: none !important;
  border: none !important;
}
/* 
loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #e41f07 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

.MuiBox-root .css-sxp66c {
  padding: 0px !important;
}

/* for the date picker  */

.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  padding: 12.5px 0 !important;
}
/* for underline for all headingss */
.orange-underline {
  position: relative;
  display: inline-block;
}

.orange-underline::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 70%;
  height: 5px;
  background: linear-gradient(90deg, #e41f07, #f7931e);
  border-radius: 2px;
  animation: slideIn 0.8s ease-out;
}

@keyframes slideIn {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 60%;
    opacity: 1;
  }
}
